// Colour Palette
$primary-brand-colour: #05a88f;
$secondary-brand-colour: #01a98f;
$background-brand-color: #48d5b5;
$supporting-brand-color: #160077;
$supporting-brand-color-ALT: #2e1a84;

$secondary-brand-color-ALT: #5b4ca0;
$background-brand-color-ALT: #ffffff;

//View breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$desktop-max-width: 90rem;
