.JourneyDetails {
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    background-color: white;
  }

  &__cancel-link {
    text-decoration: underline;
    padding-top: 1rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-bottom: 3rem;
    background-color: white;
  }

  &__main-more {
    padding-bottom: 0.5rem;
    color: blue;
    font-weight: bold;
  }

  &__para-text {
    width: 60%;
  }

  &__advance {
    margin: 0;
    padding: 0.3rem;
  }

  &__advance-wrapper {
    background-color: grey;
    opacity: 0.6;
    width: 45%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  &__timings-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    padding: 1rem 0 1rem 0;
  }

  &__departure-info {
    display: flex;
    flex-direction: column;
  }

  &__arrival-info {
    display: flex;
    flex-direction: column;
  }

  &__time-changes {
    color: blue;
    font-weight: bold;
  }

  &__seat-wrapper {
    padding-left: 3rem;
    background-color: white;
    padding-bottom: 1rem;
  }

  &__seat {
    font-weight: bold;
  }

  &__button-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  &__button {
    background-color: blue;
    width: 90%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
  }
}
